@font-face {
  font-family: "Simplifica";
  src: url("/src/Fonts/Specifica/simplifica_typeface1-webfont.woff") format("woff");
  src: url("/src/Fonts/Specifica/simplifica_typeface1-webfont.woff2") format("woff2");
}
h1, h2, h3{
  font-family: Simplifica;
}
h1{
  color: white;
  font-size: 60px;
}
h2{
  color: white;
  font-size: 50px;
}
h3{
  color: white;
  font-size: 40px;
}
.container{
  padding: 20px;
  text-align: center;
}
