@font-face {
  font-family: "Simplifica";
  src: url("/src/Fonts/Specifica/simplifica_typeface1-webfont.woff") format("woff");
  src: url("/src/Fonts/Specifica/simplifica_typeface1-webfont.woff2") format("woff2");
}
#name{
  color: #CCD6F6;
  font-size: 60px;
  font-family: Simplifica;
}
#major{
  font-family: Simplifica;
  color: #8892B0;
  font-size: 50px;
}
#college{
  font-family: Simplifica;
  color: #8892B0;
  font-size: 40px;
}
.container{
  padding: 50px;
  text-align: center;
  margin-bottom: 110px;
}
