body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
    background-color: #222831;
}
@import url('https://fonts.googleapis.com/css?family=Staatliches');

body {
  margin: 0;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  background: #222831;
  width: 100%;
  height: 100vh;
  animation: backgroundChange .5s linear 3s forwards, fadeOut .5s linear 5s forwards
}

.load-text {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 10vmax;
  width: fit-content;
  display: flex;
  animation: colorChange .5s linear 3s forwards;
  font-family: 'Staatliches', cursive;
}

.loaded-text {
  transform: scale(1.5);
  animation: scaleText .5s linear .5s forwards;
  font-family: 'Staatliches', cursive;
}

.loading-text {
  width: 0;
  overflow: hidden;
  animation: expand .5s linear 1.5s forwards;
  font-family: 'Staatliches', cursive;
}

main {
  padding: 1em;
  box-sizing: border-box;
  background-color: black;
  color: white;
  min-height: 100vh;
}

@keyframes scaleText {
  from {transform: scale(1.5)}
  to {transform: scale(1)}
}

@keyframes expand {
  from {width: 0;}
  to {width: 17vmax;}
}

@keyframes backgroundChange {
  from {background-color: #222831}
  to {background-color: #222831}
}

@keyframes colorChange {
  from {color: black}
  to {color: white}
}

@keyframes fadeOut {
  from {opacity: 1}
  to {
    opacity: 0;
    z-index: -1;
  }
}
